@{
    ViewBag.Title = "Shops";
}

<h1>Our shops:</h1>
<div class="shops">
    <h3>Kyiv:</h3>
    <table>
        <div class="shopsShop">
            <tr style="vertical-align: top">

                <td>
                    <img width="250" height="188" src="@Url.Content("~/Content/Images/CUM.jpg")"/>
                </td>
                <td>
                    <div class="shopsContactInfo">
                        <h4>Address:</h4>
                        Bogdan Khmelnitsky st., Building 2
                        <br/>
                        Mall "CUM"
                    <br />
                        <br />
                        <h4>Phone:</h4>
                        +38(077)777-77-77
                    </div>
                </td>

            </tr>
        </div>
        <div class="shopsShop">
            <tr style="vertical-align: top">

                <td>
                    <img width="250" height="188" src="@Url.Content("~/Content/Images/Ukraine.jpg")"/>
                </td>
                <td>
                    <div class="shopsContactInfo">
                        <h4>Address:</h4>
                        Victory sq., Building 3
                        <br/>
                        Mall "Ukraine"
                    <br />
                        <br />
                        <h4>Phone:</h4>
                        +38(033)333-33-33
                    </div>
                </td>

            </tr>
        </div>
    </table>
</div>
